

<div class="jumbotron">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#RoundTrip" data-toggle="tab">RoundTrip</a></li>
    <li><a href="#OneWay" data-toggle="tab">One Way</a></li>
    <li><a href="#MultipleDestinations" data-toggle="tab">Multiple Destinations</a></li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane fade in active" id="RoundTrip">
        <!-- Formulario 1 -->
        <br>
        <%= form_tag(flights_show_path, :method => "get") do %>
        <div class="row-xs-height">
          <%= label_tag(:flyingFrom, "Flying From") %>
			    <%= text_field_tag :departure_city_id, params[:departure_city_id], placeholder: "Departure City" %>
          <%= label_tag(:flyingTo, "Flying To") %>
          <%= text_field_tag :arrival_city_id, params[:arrival_city_id], placeholder: "Arrival City" %>
        </div>
        <br>
        <div class="row-xs-height">
          <%= label_tag(:departing, "Departing") %>
          <%= date_field(:departing, :date) %>
          <%= label_tag(:retorning, "Retorning") %>
          <%= date_field(:retorning, :date) %>
        </div>
        <br>
        <div class="row-xs-height">
          <%= label_tag(:adults, "Adults (+18)") %>
          <%= number_field(:adults, :number, in: 1..6, step: 1) %>
          <%= label_tag(:children, "Children (0-17)") %>
          <%= number_field(:children, :number,1 in: 0..6, step: 1) %>
        </div>
        <br>
        <div class="row-xs-height">
          <%= label_tag(:nonstopL, "Nonstop") %>
          <%= check_box_tag(:nonstop) %>
          <%= label_tag(:PC, "Preferred Class") %>
          <%=collection_select(:class_type, :class_type, ClassType.all, :id, :name) %>
        </div>
        <br>
        <br>
        <br>
			  <%= submit_tag "Search", :name => nil, class: 'btn btn-info'%>			
		    <% end %>
    </div>
    <div class="tab-pane fade" id="OneWay">
      <br>
      <!-- Formulario 2 -->
      
    </div>
    <div class="tab-pane fade" id="MultipleDestinations">
      <br>
      <!-- Formulario 3 -->
      
    </div>
  </div>
</div>