<div class="col-md-8 col-md-offset-2">
  <h1><center>Selected flight</center></h1>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Departure time</th>
          <th>Arrival time</th>
          <th>Time</th>
          <th>Departure City</th>
          <th>Arrival City</th>
          <th>Airplane</th>
          <th>Price</th>
        </tr>
      </thead>

      <tbody>
        <td><%= @scheduleToBuy.departure_time.strftime("%I:%M%p") %></td>
            <td><%= @scheduleToBuy.arrival_time.strftime("%I:%M%p") %></td>
            <td><%= ((@scheduleToBuy.arrival_time - @scheduleToBuy.departure_time)/60).round %></td>
            <td><%= City.find_by_id(@scheduleToBuy.departure_city_id).name %></td>
            <td><%= City.find_by_id(@scheduleToBuy.arrival_city_id).name %></td>
            <td><%= Airplane.find_by_id(@scheduleToBuy.airplane_id).airplane_model %></td>
            <td>$<%= @scheduleToBuy.price %></td>
      </tbody>
    </table>

  <br>
  <br>
  <br>

  <% if client_signed_in? %>
  <div class="jumbotron" style="text-align:center">
    <h2>Datos de Usuario</h2><br>
    <h3>Nombre: <%= current_client.first_name %> <%= current_client.middle_name %></h3>
    <h3>Apellidos: <%= current_client.last_name %></h3>
    <h3>Pais de Origen: <%= current_client.nationality %></h3>
    <h3>Correo Electronico: <%= current_client.email %></h3>
    <br>
    <br>
    <%= link_to 'Reserve', reserve_path, class: 'btn btn-success' %>
  </div>
  <% end %>
  
</div>
