<%= form_for(@class_type, html: { class: 'form-horizontal' }) do |f| %>
  <% if @class_type.errors.any? %>
    <div class="alert alert-warning">
      <p><%= pluralize(@class_type.errors.count, "error") %> prohibited this class_type from being saved:</p>

      <ul>
      <% @class_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class: 'control-label col-sm-4' %>
    <div class="col-sm-8">
      <%= f.text_field :name, class: 'form-control' %>
      
    </div>
  </div>

   <div class="form-group">
    <%= f.label :rate, class: 'control-label col-sm-4' %>
    <div class="col-sm-8">
      <%= f.number_field  :rate, class: 'form-control' %>
    </div>
  </div>
  
  <div class="actions">
    <%= f.submit class: 'btn btn-success' %>
  </div>
<% end %>
