<%= form_for(@schedule, html: { class: 'form-horizontal' }) do |f| %>
  <% if @schedule.errors.any? %>
    <div class="alert alert-warning">
      <p><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</p>

      <ul>
      <% @schedule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= f.label :departure_city_id, class: 'control-label col-sm-4' %>
    <div class="col-sm-8">
      <%= f.collection_select(:departure_city_id , City.all, :id, :name) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :arrival_city_id, class: 'control-label col-sm-4' %>
    <div class="col-sm-8">
      <%= f.collection_select(:arrival_city_id , City.all, :id, :name) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :airplane_id, class: 'control-label col-sm-4' %>
    <div class="col-sm-8">
      <%= f.collection_select(:airplane_id , Airplane.all, :id, :airplane_model) %>
    </div>
  </div> 
       
  <div class="form-group">
    <%= f.label :departure_time, class: 'control-label col-sm-4' %>
    <div class="col-sm-8">
      <%= f.time_select :departure_time %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :arrival_time, class: 'control-label col-sm-4' %>
    <div class="col-sm-8">
      <%= f.time_select :arrival_time %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :price, class: 'control-label col-sm-4' %>
    <div class="col-sm-8">
      <%= f.text_field :price, class: 'form-control' %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-success' %>
  </div>
<% end %>
