<p id="notice"><%= notice %></p>

<p>
  <strong>Departure time:</strong>
  <%= @schedule.departure_time %>
</p>

<p>
  <strong>Arrival time:</strong>
  <%= @schedule.arrival_time %>
</p>

<p>
  <strong>Departure City:</strong>
  <%= City.find_by_id(@schedule.departure_city_id).name %>
</p>

<p>
  <strong>Arrival City:</strong>
  <%= City.find_by_id(@schedule.arrival_city_id).name %>
</p>

<p>
  <strong>Airplane:</strong>
  <%= Airplane.find_by_id(@schedule.airplane_id).airplane_model %>
</p>

<p>
  <strong>Price:</strong>
  <%= @schedule.price %>
</p>



 
<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>






