<div class="row" style="padding-top: 800pt;">
  <div class="col-md-4 col-md-offset-1">
    <%= image_tag "Playa.jpg", :alt => "Playa", :title => "Playa"%>
  </div>
  <div class="col-md-6">
    <h1 style="color: #11abbf;">Welcome to Teguz Airlines - Fly in Comfort!</h1>
    <h3 style="color: #8d8d8d;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pulvinar gravida dui. Nullam blandit, ipsum ut elementum ornare, felis magna ultrices eros, non varius sapien     diam sed quam. Quisque varius, velit sed cursus elementum, magna felis semper quam, aliquam convallis orci nisl eu lacus.</h3>
  </div>  
</div>
<div class="row col-sm-10 col-sm-offset-1" style="padding-top: 50pt; text-align:center">
  <div class="col-md-3">
    <div class="thumbnail">
      <h3>Roatán</h3>
      <%= image_tag "Roatan2.png", :alt => "Roatan", :title => "Roatan"%>
      <div class="caption">
        <p>Roatán is one of the most popular places in Honduras for those looking for that perfect tropical vacation.</p>
        <button type="button" class="btn btn-info">Read More</button>
      </div>
    </div>
  </div>
  <div class="col-md-3">    
    <div class="thumbnail">
      <h3>London</h3>
      <%= image_tag "Londres2.png", :alt => "Londres", :title => "Londres"%>
      <div class="caption">
        <p>London is an enormous city. It is divided into thirty-two boroughs</p>
        <button type="button" class="btn btn-info">Read More</button>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="thumbnail">
      <h3>Rome</h3>
      <%= image_tag "Roma2.png", :alt => "Roma", :title => "Roma"%>
      <div class="caption">
        <p>Rome is the capital city of Italy and is Italy`s largest and most populous city.</p>
        <button type="button" class="btn btn-info">Read More</button>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="thumbnail">
      <h3>Taipei</h3>
      <%= image_tag "Taipei2.png", :alt => "Taipei", :title => "Taipei"%>
      <div class="caption">
        <p>Taipei is the capital of the Republic of Taiwan. Situated at the northern tip of Taiwan</p>
        <button type="button" class="btn btn-info">Read More</button>
      </div>
    </div>
  </div>
</div>