<h1>Listing tickets</h1>

<table>
  <thead>
    <tr>
      <th>Departure date </th>
      <th>Return date </th>
      <th>Class Type </th>
      <th>Category </th>

      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.departure_date %></td>
        <td><%= ticket.return_date %></td>
        <td><%=  ClassType.find_by_id(ticket.class_type_id).name  %></td>
        <td><%= Category.find_by_id(ticket.category_id ).name %></td>
        <td><%= link_to 'Show', ticket %></td>
        <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
        <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ticket', new_ticket_path %>
