<div class="col-md-6 col-md-offset-3">
	<h2>Sign in</h2>

	<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-horizontal' }) do |f| %>
	  <div class="form-group" style="padding:2%">
	  	<%= f.label :email, class: 'col-sm-4 control-label' %>
	  	<div class="col-sm-8">
	  		<%= f.email_field :email, autofocus: true, class: 'form-control' %>
	  	</div>
	  </div>

	  <div class="form-group" style="padding:2%">
	  	<%= f.label :password, class: 'col-sm-4 control-label' %>
	  	<div class="col-sm-8">
	    	<%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
	  	</div>
      </div>
      <br>
      <div class="checkbox col-md-offset-2" stype="padding:2%">
		  <% if devise_mapping.rememberable? -%>
		    <%= f.check_box :remember_me %> <%= f.label :remember_me %>
		  <% end -%>
      </div>

	  <div><%= f.submit "Sign in", class: 'btn btn-success' %></div>
	<% end %>
	<br>
	<%= render "clients/shared/links" %>
</div>


