<nav class="navbar col-md-10 col-md-offset-1" id="navbar-home">
  <div class="navbar-header">
      <%= link_to root_path do %>
        <%= image_tag 'logo-teguz.png', alt: 'Logo', id: 'logo-teguz' %>
      <% end %>
  </div>
 
  <ul class="nav navbar-nav navbar-right">
    <li><%= link_to 'Search flights', '' %></li>
    <!-- Admins -->
    <li><%= link_to 'Cities', '' %></li>
    <li><%= link_to 'Airplanes', '' %></li>
    <li><%= link_to 'Schedules', '' %></li>
    <li><%= link_to 'Categories', '' %></li>
    <li><%= link_to 'Class Types', '' %></li>

    <!-- Log in and other optionsm -->
    <!-- Sign in button -->
    <!-- Sign up button -->
  </ul>
</nav>