<nav class="navbar col-md-10 col-md-offset-1" id="navbar-home">
  <div class="navbar-header">
      <%= link_to root_path do %>
        <%= image_tag 'logo-teguz.png', alt: 'Logo', id: 'logo-teguz' %>
      <% end %>
  </div>

  <ul class="nav navbar-nav navbar-right">
    <li><%= link_to 'Search flights', '' %></li>
    
    <% if client_signed_in? %>
      <% if current_client.try(:admin) %>
        <li><%= link_to 'Cities', '' %></li>
        <li><%= link_to 'Airplanes', '' %></li>
        <li><%= link_to 'Schedules', '' %></li>
        <li><%= link_to 'Categories', '' %></li>
        <li><%= link_to 'Class Types', '' %></li>
      <% end %>
      <li>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= icon 'caret-down', current_client.email %></a>
        <ul class="dropdown-menu">
          <li><%= link_to 'Sign out', destroy_client_session_path, method: :delete %></li>
        </ul>
      </li>

      <% else %>
      <li><%= link_to 'Sign up', new_client_registration_path, class: 'btn btn-primary navbar-btn' %></li>
      <li>
        <%= link_to '#', class: 'dropdown-toggle keep-open btn btn-info', data: { toggle: 'dropdown' }  do %>
          <%= icon 'caret-down', 'Sign in' %>
        <% end %>

        <div class="dropdown-menu">
          <%= form_for(:client, :url => session_path(:client)) do |f| %>
            <%= f.text_field :email, autofocus: true %>
            <%= f.password_field :password %>
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
            <%= f.submit 'Sign in' %>
            <%= link_to "Forgot your password?", new_password_path(:client) %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</nav>