<!DOCTYPE html>
<html>
<head>
  <title>Airlines</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
   <div class="big-banner">
      <%= render partial: 'layouts/navbar_home' %>
     <%= render partial: 'layouts/home_body' %>
   </div>
  <%= yield %>

</body>
</html>